<div>
    <h1>Perfil</h1>
    <p>Nombre: {{usuarioEncontrado.first_name}}</p>
    <p>Apellido: {{usuarioEncontrado.last_name}}</p>
    <p>Email: {{usuarioEncontrado.email}}</p>
    {{#if edad}}
    <p>Edad: {{edad}} </p>
    {{else}}
    <p>Edad: {{usuarioEncontrado.age}}</p>
    {{/if}}
    <p>Cart ID: {{usuarioEncontrado.cart}}</p>
    <p>Password: mentira, es secreta</p>
    <p>Role: {{usuarioEncontrado.role}}</p>
    <a href="http://localhost:8080/api/sessions/logout"> Cerrar sesión </a>
    {{!-- <a href="http://localhost:8080/api/sessions/logout"> Restablecer contraseña </a> --}}
</div>